:root {
	--theme-color-text: #633;
	--theme-color-primary: #B22900;
	--theme-color-contrast: #f7f7fd;
	--theme-color-link: #C62E00;
	--theme-color-hover: #A32600;
	--theme-bg-body: #fafafa;
	--theme-bg-light: #F9EFEC;
	--theme-border-color: #d7bebe;
	--theme-border-light: #eae1e1;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

header, footer {
	background: var(--theme-color-primary);
	color: var(--theme-color-contrast);
	padding: 1em;
}

main {
	background: var(--theme-bg-body);
	color: var(--theme-color-text);
	margin: 0 auto;
	padding: .5em;
	max-width: 80em;
}


h1 {
	margin:0.5em 0;
	padding:0;
	font-size: 1.5em;
}

h2{
	margin:0.5em 0;
	padding:0;
	font-size: 1.3em;
}

h3 {
	margin: 0.5em 0 0 0;
	padding:0;
	font-size: 1.1em;
}

main h1,
main h2,
main h3 {
	color: var(--theme-color-primary);
}

hr {
	background: var(--theme-border-color);
	border:0 solid var(--theme-border-color);
	clear:both;
	height:1px;
	width:90%;
}

pre {
	background: var(--theme-bg-light);
	overflow-x: scroll;
	padding: 0.5em;
	margin: 0;
}

p {
	margin: 0.5em 0;
}

a {
	color: var(--theme-color-link);
}
 
header a, footer a { 
	color: var(--theme-color-contrast);
}


.graph {
	display: inline-block;
	width: 24rem;
	max-width: 100%;
}
.graph figure {
	border: 1px solid var(--theme-border-color);
	display: block;
	margin: .3rem;
	padding: .3rem;
	min-height: 11rem;
}
.graph figure a {
	display:block;
}
.graph figure figcaption {
	border:0;
	font-weight:bold;
	margin:0;
	padding:0;
	color: var(--theme-color-primary);
}
.graph figure img {
	border: 0 none;
	display: block;
	margin: 0;
	max-width: 100%;
	padding: 0;
}

figure img {
	max-width: 100%;
}

dl dt {
	font-weight: bold;
	margin: 0.5em 0;
}
dl dd {
	margin: 0.5em 0 0.5em 0.5em;
}

.table {
	border-collapse: collapse;
}
.table tbody td, .table tfoot td {
	border: 1px solid var(--theme-border-light);
	color: var(--theme-color-text);
	background: var(--theme-bg-body);
	padding: 0 1em;
	white-space: nowrap;
	
}
.table thead td, .table thead th {
	background: var(--theme-bg-light);
	color: var(--theme-color-primary);
	border: 1px solid var(--theme-border-color);
	font-weight: bold;
	padding: 0 1em;
}

.table-list {
	min-width: 15em;
	border-collapse: collapse;
	border-spacing: 0;
}
.table-list td {
	padding: 0.15em .5em;
	border: 0;
	background: transparent;
}
.table-list td:first-child {
	text-align: right;
	padding-right: 0.5em;
	font-weight: bold;
}
.table-list td:first-child::after {
	content: ':';
}

.table-list .row-alt td {
	background: var(--theme-bg-light);
}


.table-responsive {
	overflow: auto;
	max-height: 35rem;
}
.table-responsive table {
	position: relative;
}
.table-responsive table thead th,
.table-responsive table thead td {
	position: sticky;
	top: 0;
}

.text-end {
	text-align: right;
}
table td.null {
	color: var(--theme-border-light);
}



section {
	overflow: hidden;
}

.flex {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
	align-items: start;
}

.border {
	border: 1px solid var(--theme-border-color);
	margin: 0.5em;
	padding: 0.5em;
}
.flex.flex-border > * {
	border: 1px solid var(--theme-border-color);
	margin: 0.5em;
	padding: 0.5em;
	max-width: 30em;
}

.nav {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 0.6em;
}
.nav li {
	list-style:outside none none;
	padding: 0;
	margin: 0;
}
.nav li a {
	border-radius: 0.5em;
	font-weight: bold;
	display: block;
	line-height: 1.6rem;
	padding: 0 .5em;
	text-decoration: none;
	border: none;
}
.nav li a:hover {
	text-decoration: underline;
}

.navbar {
	border: 0;
	padding: 0.5em;
	margin: 0.5em 0;
	display: flex;
	gap: 1em;
	align-items: center;
	flex-wrap: wrap;
}

button {
	border-radius: 0.3em;
	background-color: var(--theme-color-contrast);
	color: var(--theme-color-primary);
	border: 1px solid var(--theme-color-primary);
	font-size: 1rem;
	line-height: 1.6rem;
	text-align: center;
	text-decoration: none;
	box-shadow: none;
	min-width: 4rem;
	padding: 0;
}

.navbar a {
	text-decoration: none;
	display: block;
	padding: 0 0.5em;
	line-height: 1.7em;
	background-color: var(--theme-color-contrast);
	min-width: 4em;
	text-align: center;
	border-radius: .3em;
}
.navbar a:hover {
	background: var(--theme-bg-light);
}


.float-start {
	float: left;
	margin: 0 1em 1em 0;
}
.float-end {
	float: right;
	margin: 0 0 1em 1em;
}
.mw-33 {
	max-width: 33%;
}
