:root {
	--theme-color-primary: #B22900;
	--theme-color-primary-contrast: #f7f7fd;
	--theme-color-link: #C62E00;
	--theme-color-hover: #A32600;
	--theme-color: #633;
	--theme-background: #fafafa;
	--theme-border-color: #d7bebe;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

header, footer {
	background: var(--theme-color-primary);
	color: var(--theme-color-primary-contrast);
	padding: 1em;
}

main {
	background: var(--theme-background);
	color: var(--theme-color);
	margin: 0 auto;
	padding: .5em;
	max-width: 80em;
}


h1 {
	margin:0.5em 0;
	padding:0;
	font-size: 1.5em;
}

h2{
	margin:0.5em 0;
	padding:0;
	font-size: 1.3em;
}

h3 {
	margin: 0.5em 0 0 0;
	padding:0;
	font-size: 1.1em;
}

main h1,
main h2,
main h3 {
	color: var(--theme-color-primary);
}

hr {
	background: var(--theme-border-color);
	border:0 solid var(--theme-border-color);
	clear:both;
	height:1px;
	width:90%;
}

pre {
	background: #eee;
	overflow-x: scroll;
	padding: 0.5em;
	margin: 0;
}

p {
	margin: 0.5em 0;
}

a {
	color: var(--theme-color-link);
}
 
header a, footer a { 
	color: var(--theme-color-primary-contrast);
}

figure {
	border: 1px solid var(--theme-border-color);
	display: inline-block;
	margin: .3rem;
	padding: .3rem;
	width: 24rem;
}
figure a {
	display:block;
}
figure figcaption {
	border:0;
	font-weight:bold;
	margin:0;
	padding:0;
	color: var(--theme-color-primary);
}
figure img {
	border: 0 none;
	display: block;
	margin: 0;
	max-width: 100%;
	padding: 0;
}


dl dt {
	font-weight: bold;
	margin: 0.5em 0;
}
dl dd {
	margin: 0.5em 0 0.5em 0.5em;
}

.table {
	border-collapse: collapse;
}
.table td {
	border: 1px solid #CCC;
	padding: 0 1em;
	white-space: nowrap;
}
.table tbody td, 
.table tfoot td { 
	background: #EEE; 
}
.table thead td, 
.table thead th {
	background: #FFF;
	color: #600;
	border: 1px solid #999;
	font-weight: bold;
}

.table-list {
	border-collapse: collapse;
	border-spacing: 0;
}
.table-list td {
	padding: 0.15em 0;
	border: 0;
	background: transparent;
}
.table-list td:first-child {
	text-align: right;
	padding-right: 0.5em;
	font-weight: bold;
}


.table-responsive {
	overflow: auto;
	max-height: 35rem;
}
.table-responsive table {
	position: relative;
}
.table-responsive table thead th,
.table-responsive table thead td {
	position: sticky;
	top: 0;
}

table td.text-end {
	text-align: right;
}
table td.null {
	color: #CCC;
}

button {
	border-radius: 0.3em;
	background-color: var(--theme-color-primary-contrast);
	color: var(--theme-color-primary);
	border: 1px solid var(--theme-color-primary);
	font-size: 0.9rem;
	font-weight: bold;
	line-height: 1.6rem;
	text-align: center;
	text-decoration: none;
	box-shadow: none;
	min-width: 4rem;
}

section {
	overflow: hidden;
}

.flex {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
	align-items: start;
}

.border {
	border: 1px solid var(--theme-border-color);
	margin: 0.5em;
	padding: 0.5em;
}
.flex.flex-border > * {
	border: 1px solid var(--theme-border-color);
	margin: 0.5em;
	padding: 0.5em;
	max-width: 30em;
}



.nav {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}
.nav li {
	list-style:outside none none;
	padding: .1em ;
}
.nav li a {
	border-radius: 0.5em;
	font-size: 0.9rem;
	font-weight: bold;
	display: block;
	line-height: 1.6rem;
	text-decoration: none;
	border: none;
	min-width: 7em;
}
.nav li a:hover {
	text-decoration: underline;
}

.navbar {
	border: 0;
	padding: 0.5em;
	margin: 0.5em 0;
	display: flex;
	gap: 1em;
	align-items: center;
	flex-wrap: wrap;
}
.navbar a {
	text-decoration: none;
	display: block;
	padding: 0 0.5em;
	line-height: 1.7em;
	background: #EEF;
	min-width: 4em;
	text-align: center;
	border-radius: .3em;
}
.navbar a:hover {
	background: #FEE;
}

.float-start {
	float: left;
	margin: 0 0.5em 0 0;
	max-width: 50%;
}
.float-end {
	float: right;
	margin: 0 0.5em 0 0;
	max-width: 50%;
}

/*
#masthead {
	border-color: #666;
	border-style: solid;
	border-width: 0 0 2px;
	padding: 0.3em;
	text-align: center;
	position: relative;
}

#content {
	background: #EAEAEA;
	margin:.5em;
	min-height:12em;
	position: relative;
}

#footer {
	clear:both;
	margin:.5em;
	position: relative;
}

#navpagetop {
	position: fixed;
	top: 1vw;
	right: 1vw;
}

#radar_img {
	display:block;
	margin:3px;
	padding:3px;
	width:100%;
}
#radar_img img {
	margin:3px;
	padding:3px;
	width:90%;
}
#radar_img p {
	font-size:smaller;
	font-style:italic;
	margin-top:0;
	text-align:center;
	width:90%;
}

#statswrap {
	float: left;
	margin: 0 0.5em 0 0;
}
#statswrap .stats {
	float:none;
}



.files {
	margin: 0;
	padding: 0.4em;
	width: 8em;
	display: inline-block;
	vertical-align: top;
}
.files li {
	list-style:none;
	margin: 2px;
}
.files a {
	text-decoration: none;
	background: #FFF;
	display: block;
	padding: .3em;
	color: #600;
}
.files a:hover{
	background: #EEE;
}

.imgbar {
  float: right;
  margin: 0 0 0.5em 0.5em;
  max-width: 40%;
  width: 200px;
}
.imgbar img{ width: 100%;}


.navpage {
	float: right;
	display: block;
	background-color: var(--theme-color);
	border-radius: 0.5em;
	color: #fff;
	font-size: 0.9rem;
	line-height: 2em;
	text-align: center;
	text-decoration: none;
	width: 2em;
	cursor: pointer;
}



.updated {
	color: #444;
	font-size: 0.9em;
	font-style: italic;
	margin: 0;
	padding: 0;
	text-align: right;
}
.updated:before {
	content:"Updated:";
}

.stats {
	border:thin solid #999;
	border-collapse:collapse;
	float:left;
	margin:.5em;
}
.stats .data {
	text-align:left;
	color:#711;
}
.stats .label {
	color:#A44;
	text-align:right;
}
.stats .label:after {
	content: ':';
}
.stats .row0 td {
	background:#EEE;
	border:0;
}
.stats .row1 td {
	background:#FFF;
	border:0;
}
.stats caption,
.stats caption a {
	background: #000;
	color: #DDF;
	font-size: 1.1rem;
	font-weight: bold;
	text-decoration: none;
}
.stats td {
	border-color:#666;
	border-style:solid;
	border-width:1px 0;
	padding:.1em .2em;
}

.tides .date {
	font-size: .9em;
	text-align: right;
	margin: 0;
	padding: 0;
	color: #226;
}

.moon img {
	background: #333;
	margin: 0.5em;
	padding: 1em;
}

.weather {
	max-width: 25em;
	border: 1px solid #cecece;
	padding: 0.5em;
	background: #FFF;
	margin: 0.5em;
}
*/